
*__pycache__*
.buildozer*
src/engine/components/gravity_temp.py
src/tests
src/tests
src/ui/temp.py
src/kivy_accelerator.py
src/launch.py
src/mysdl2.py
src/services/__pycache__
src/buildozer.spec
_BACKUP_26630.gitignore
_BASE_26630.gitignore
_LOCAL_26630.gitignore
_REMOTE_26630.gitignore
src/.kivy/logs/*
.vscode/*
*.bak
src/__pycache__/core.cpython-313.pyc
src/__pycache__/core.cpython-313.pyc
